body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    font-size: 3rem;
}

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  position: absolute;
  padding-top: 14pt;
  background-color: #00000000;
}

.navbar > * {
  padding-left: 14pt;
}

.navbar > :last-child {
  padding-right: 14pt;
}

.material-symbols-outlined {
    font-size: 2em;
    cursor: pointer;
}

.ml-auto {
    margin-left: auto;
}

#home {
    background-color: #AAAAAA;
}

#skills {
    background-color: #BBBBBB;
}

#hobbies {
    background-color: #CCCCCC;
}

#projects {
    background-color: #DDDDDD;
}

#publications {
    background-color: #EEEEEE;
}

#about {
    background-color: #FFFFFF;
}
