body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    font-size: 3rem;
}

.material-symbols-outlined {
    font-size: 1.5em;
/*     position: absolute;
    top: 0;
    left: 0; */
}


#home {
    background-color: #AAAAAA;
}

#skills {
    background-color: #BBBBBB;
}

#hobbies {
    background-color: #CCCCCC;
}

#projects {
    background-color: #DDDDDD;
}

#publications {
    background-color: #EEEEEE;
}

#about {
    background-color: #FFFFFF;
}
