body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #AAAAAA;
}

.dark-mode {
  background-color: #363636;
  color: #EEEEEE
}

.section {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    font-size: 3rem;
    padding: 0 4em;
}

.dark-mode .section {
  color: #EEEEEE
}

.navbar {
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  position: fixed;
  padding-top: 2.9em;
  background-color: #AAAAAA;
  z-index: 999;
}

.dark-mode .navbar {
  background-color: #363636;
}

.navbar > * {
  padding-left: 40pt;
}

.navbar > :last-child {
  padding-right: 40pt;
}

.material-symbols-outlined {
    font-size: 2em;
    cursor: pointer;
}

.ml-auto {
    margin-left: auto;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #363636;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 65px;
}

.dark-mode .sidepanel {
  background-color: #AAAAAA;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EEEEEE;
  display: block;
  transition: 0.3s;
}

.dark-mode .sidepanel a {
  color: #363636;
}

.sidepanel a:hover {
  font-style: italic;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}

.searchpanel  {
  width: 0;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #363636;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 65px;
}

.dark-mode .searchpanel {
  background-color: #AAAAAA;
}

.searchpanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EEEEEE;
  display: block;
  transition: 0.3s;
}

.dark-mode .searchpanel a {
  color: #363636;
}

.searchpanel a:hover {
  font-style: italic;
}

.searchpanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363636;
  padding: 0.5em;
  z-index: 999;
}

.dark-mode .logo {
  color: #EEEEEE;
}
