/*Primary Color Scheme*/
$bgColorDark: #182913;
$bgColorLight: #A990A1;
$txtColorDark: #CBADC1;
$txtColorLight: #182913;

/*Secondary Purple Pink Color Scheme*/


/*Secondary Dark Green Color Scheme*/

/*Fonts*/
$headFont: "Sirin Stencil", sans-serif;
$txtFont: "Jost", sans-serif;