/* Body styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; /* Enable vertical scrolling with snap points */
  overflow-y: scroll; /* Enable vertical scrolling */
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.container {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/* Page styles */
.page {
    height: 100%; /* Each page takes full viewport height */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    scroll-snap-align: start; /* Snap each page to the top of the viewport */
}

/* Different background colors for each page */
#page1 {
    background-color: #3498db; /* Blue */
    color: #fff; /* White text for contrast */
}

#page2 {
    background-color: #27ae60; /* Green */
    color: #fff; /* White text for contrast */
}

#page3 {
    background-color: #f39c12; /* Orange */
    color: #fff; /* White text for contrast */
}

/* Additional styling for content */
.page h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.page p {
    font-size: 1.2em;
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
}
