body{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  scroll-snap-type: y mandatory; /* Enable vertical scrolling with snap points */
  overflow-y: scroll; /* Enable vertical scrolling */
}

main {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

/* Page styles */
.page {
    height: 100vh; /* Each page takes full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Snap each page to the top of the viewport */
    padding: 20px;
}

#home {
    background-color: #B8B0D9;
}

#about {
    background-color: #C5C5E3
}

#skills {
    background-color: #B4B4CF
}

#hobbies {
    background-color: #AAAAAA
}

#projects {
    background-color: #CCCCCC
}

#publications {
    background-color: #BBBBBB
}
